<h1>This is root component </h1>
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li> <a routerLink="/">Home </a></li>
          <li class="active"><a routerLink="/about">About Us</a></li>
            <li> <a routerLink="/contact">Contact Us</a></li>
          <li> <a routerLink="/employee">Employee</a></li>
          <li> <a routerLink="/employeelist">EmployeeList</a></li>
          <li> <a routerLink="/reactive-form">Reactiveform</a></li>
          <li> <a routerLink="/user">User</a></li>
         <!-- <li> <a routerLink="/add-user">AddUser</a></li> -->
          <li> <a routerLink="/bindingsdemo">Bindings</a></li>
          <li> <a routerLink="/ngclassdemo">Classdemo</a></li>
          <li> <a routerLink="/test">Testing Folder</a></li>

        </ul>
    </div>
</nav>





<router-outlet></router-outlet>
<!--<app-home></app-home>

<app-contact></app-contact>
<app-employee></app-employee>-->

